.header {
  height: 293px;
  padding: 90px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
  max-width: 390px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  text-underline-offset: 4px;
}

.header__links-list-item{
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link{
  text-decoration: none;
}

.header__link{}

.header__logo{
  width: 148px;
  height: 105px;
}

.header__logo-image{
  align-self: center;
  justify-self: center;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

.cover {
  height: 757px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.lots {
  height: 723px;
  margin: 180px 24px 120px;
}

.about {
  height: 595px;
  margin: 120px 24px 180px;
  padding: 35px 0 13px 47px;
}

.footer {
  height: 180px;
  padding: 0 50px 82px;
}