/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 90px 50px 96px;
}

.header__menu {
  max-width: 390px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  text-underline-offset: 4px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

/* .header__link {} */

.header__logo {
  display: block;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

/* cover */

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 106px;
  color: #fff;
}

.aligned-text {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}
.no-letter-spacing {
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  height: 51px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 100%;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  text-wrap: nowrap;
}

/* lots */

.lots {
  min-height: 723px;
  margin: 180px 24px 120px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-transform: none;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  display: block;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 334px auto;
  min-height: 595px;
  margin: 120px 24px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  margin-top: 35px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 150px;
}

.about__title {
  padding: 136px 0 100px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.about__text {
  padding: 0 3px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  min-height: 180px;
  padding: 0 50px 82px;
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}

/* .footer__menu-link {} */

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
}